<mat-card class="h-full">
    <div class="flex items-center gap-3 h-16 px-6 rounded-t bg-surface-container-high text-on-surface">
        <mat-icon>tune</mat-icon>
        <span class="text-xl font-semibold">{{ 'preferences.title' | translate }}</span>
    </div>
    <mat-divider></mat-divider>
    <lib-loading-bar [reloading]="loading()"></lib-loading-bar>

    <div class="flex flex-col gap-3 px-4 py-4">
        <p class="text-sm text-on-surface-variant">{{ 'preferences.newsletter.description' | translate }}</p>
        @if (preferences()?.emailNotificationsPreferences?.enabled) {
            <button (click)="unsubscribe()" matButton="outlined">
                <mat-icon>unsubscribe</mat-icon>
                {{ 'preferences.newsletter.unsubscribe' | translate }}
            </button>
        } @else {
            <button (click)="subscribe()" matButton="filled">
                <mat-icon>mail</mat-icon>
                {{ 'preferences.newsletter.subscribe' | translate }}
            </button>
        }
    </div>
</mat-card>
