<admin-board (reload)="reload()" [reloading]="reloading" [showSearch]="false" title="issue.title">
    <board-toolbar-actions>

    </board-toolbar-actions>
    <mat-card>
        <admin-issue-table (pageEvent)="handlePageChange($event)"
                           [data]="data"
                           [pageNumber]="pageNumber"
                           [pageSize]="pageSize"
                           [reloading]="reloading"
                           [totalElements]="totalElements"/>
    </mat-card>
</admin-board>
