<lib-app-layout [navGroups]="navGroups" [title]="dashboardService.title()" (logoutClick)="appService.logout()">
  <ng-container toolbar-right>
    @if (appService.info(); as info) {
      <div class="flex items-center gap-2 cursor-pointer px-2" [matMenuTriggerFor]="userMenu">
        <img [email]="info.email"
             [alt]="info | accountDisplayName"
             class="w-8 h-8 rounded-full"
             ngxGravatar
             [src]="info.iconUrl">
        <span class="text-sm font-medium hidden md:block">{{ info.firstName }} {{ info.lastName }}</span>
      </div>
    }
  </ng-container>
</lib-app-layout>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item routerLink="/account">
    <mat-icon>admin_panel_settings</mat-icon>
    <span>{{ 'profile.title' | translate }}</span>
  </button>
  <button mat-menu-item routerLink="/address">
    <mat-icon>contact_mail</mat-icon>
    <span>{{ 'address.title' | translate }}</span>
  </button>
  <button mat-menu-item routerLink="/activity">
    <mat-icon>notifications</mat-icon>
    <span>{{ 'activity.title' | translate }}</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="appService.logout()">
    <mat-icon>logout</mat-icon>
    <span>{{ 'action.logout' | translate }}</span>
  </button>
</mat-menu>
