<mat-card>
    @if (event().location; as location) {
        <div class="flex flex-col gap-3 p-5 pb-0">
            <h2 class="text-base font-medium m-0">{{ 'event.details.venue' | translate }}</h2>
            <div class="text-sm" style="color: var(--mat-sys-on-surface-variant)">
                {{ location.street }} {{ location.streetNumber }}<br>
                {{ location.zip }} {{ location.city }}<br>
                {{ location.country }}
            </div>
        </div>
        <lib-location-map [location]="location" class="block mt-3 rounded-b-xl overflow-hidden"></lib-location-map>
    }
</mat-card>
