<mat-toolbar>
    <div class="flex flex-row gap-2 flex-auto items-center">
        <button (click)="cancel()" [matTooltip]="'action.back' | translate" matIconButton>
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="title ps-2">
      @if (event()) {
          {{ "event.change.update" | translate:{event: event()!.title} }}
      } @else {
          {{ "event.change.update" | translate }}
      }
    </span>
        <div class="flex-auto"></div>
    </div>
</mat-toolbar>
<lib-loading-bar [reloading]="reloading()"></lib-loading-bar>
@if (event()) {
    <mat-card appearance="outlined" class="m-0 sm:!m-3 overflow-hidden">
        <lib-event-change
                (cancel)="cancel()"
                (request)="handleRequest($event)"
                [addressReadAPI]="this"
                [categoryReadAPI]="this"
                [eventReadAPI]="this"
                [event]="event()!"
                submitLabel="event.action.saveChanges"
        >
        </lib-event-change>
    </mat-card>
}
