<mat-toolbar>
    <div class="flex items-center gap-2 max-w-[680px] mx-auto w-full">
        <button (click)="cancel()" [matTooltip]="'action.back' | translate" matIconButton>
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="ps-2 font-medium truncate">
          @if (event()) {
              {{ "event.change.update" | translate:{event: event()!.title} }}
          } @else {
              {{ "event.change.update" | translate }}
          }
        </span>
    </div>
</mat-toolbar>
<lib-loading-bar [reloading]="reloading()"></lib-loading-bar>
@if (event()) {
    <div class="max-w-[680px] mx-auto w-full">
        <lib-event-change
                (cancel)="cancel()"
                (request)="handleRequest($event)"
                [addressReadAPI]="this"
                [audienceReadAPI]="this"
                [categoryReadAPI]="this"
                [eventReadAPI]="this"
                [event]="event()!"
                submitLabel="event.action.saveChanges"
        ></lib-event-change>
    </div>
}
