<div class="p-2">
    <admin-board-card title="event.details.registration">
        <board-card-toolbar-actions class="flex flex-row gap-2">
            <button (click)="addParticipantAccount()" color="primary" mat-flat-button>
                <mat-icon>admin_panel_settings</mat-icon>
                {{ 'registration.action.participateAccount' | translate }}
            </button>
            <button (click)="addParticipantManual()" color="primary" mat-flat-button>
                <mat-icon>admin_panel_settings</mat-icon>
                {{ 'registration.action.participateManual' | translate }}
            </button>
        </board-card-toolbar-actions>
        <admin-registration-table (changeResponse)="handleParticipateResponse($event)" [data]="event().registration!!"/>
    </admin-board-card>
</div>
