@if (type() === 'icon') {
    <button (click)="export(); $event.stopPropagation()" mat-icon-button>
        @if (exporting) {
            <mat-spinner diameter="22"></mat-spinner>
        } @else {
            <mat-icon>cloud_download</mat-icon>
        }
    </button>
} @else {
    <button (click)="export()" mat-mini-fab matTooltip="{{'backoffice.export.action.single' | translate}}">
        @if (exporting) {
            <mat-spinner diameter="22"></mat-spinner>
        } @else {
            <mat-icon>cloud_download</mat-icon>
        }
    </button>
}

