<lib-event-board-date-filter (filterReset)="resetFilter.emit()" (rangeChanged)="dateRangeChanged.emit($event)">
    <div class="flex flex-col gap-4 px-4 py-2">
        <div class="flex flex-col gap-2">
            <button (click)="toggleHistory.emit()" [matButton]="showHistory() ? 'filled' : 'outlined'" color="accent" type="button">
                <mat-icon>history</mat-icon>
                {{ 'event.filter.history' | translate }}
            </button>
        </div>

        <portal-category-filter [selected]="categoryFilter()" (toggle)="toggleCategory.emit($event)"></portal-category-filter>

        <portal-audience-filter [selected]="audienceFilter()" (toggle)="toggleAudience.emit($event)"></portal-audience-filter>

        @if (isDiscover()) {
            <div class="flex items-center justify-between">
                <span class="text-sm font-medium">{{ 'event.filter.onlyAvailable' | translate }}</span>
                <mat-slide-toggle (change)="toggleAvailable.emit()" [checked]="showAvailableOnly()"></mat-slide-toggle>
            </div>
        }
    </div>
</lib-event-board-date-filter>
