<div class="flex flex-col gap-0">
  <portal-event-board-header (modeChanged)="this.mode = $event" [mobileView]="mobileView"
                          [mode]="mode"></portal-event-board-header>
  <div class="flex flex-row gap-4 p-4">
    <div class="flex-auto">
      @if (mobileView) {
        <portal-event-board-list></portal-event-board-list>
      } @else {
        @switch (mode) {
          @case ('map') {
            <portal-event-board-map></portal-event-board-map>
          }
          @case ('calendar') {
            <portal-event-board-calendar></portal-event-board-calendar>
          }
          @default {
            <portal-event-board-table></portal-event-board-table>
          }
        }
      }
    </div>
    @if (service.filterToolbarVisible) {
      <div class="basis-72">
        <portal-event-board-filter></portal-event-board-filter>
      </div>
    }
  </div>
</div>
