<div class="board-header sticky top-0 z-10 grid h-16 px-4 shrink-0" style="grid-template-columns: 1fr auto 1fr">
  <div class="flex items-center gap-1 overflow-hidden">
    @if (showBack()) {
      <button mat-icon-button (click)="back.emit(true)">
        <mat-icon>arrow_back</mat-icon>
      </button>
    }
    <span class="text-base font-semibold tracking-tight truncate">{{ title() | translate }}</span>
  </div>
  <div class="flex items-center py-3">
    @if (showSearch()) {
      <admin-board-toolbar-search [placeholder]="searchPlaceholder()" (fullTextSearch)="fullTextSearch.emit($event)"/>
    }
  </div>
  <div class="flex items-center justify-end gap-1">
    <ng-content select="board-toolbar-actions"></ng-content>
    @if (showReload()) {
      <button mat-icon-button (click)="reload.emit(true)">
        <mat-icon>refresh</mat-icon>
      </button>
    }
  </div>
</div>
<lib-loading-bar [reloading]="reloading()"/>
<div class="p-6 flex flex-col gap-4">
  <ng-content/>
</div>
