<button (click)="goBack()" class="!text-on-surface-variant mx-3 mt-3 self-start" matButton="text">
    <mat-icon>arrow_back</mat-icon>{{ 'action.back' | translate }}
</button>
<mat-card appearance="outlined" class="m-0 sm:!m-3 !pb-3 overflow-hidden lg:h-[calc(100vh-100px)]">
    <portal-event-details-banner [bookmarked]="isBookmarked()" [data]="info()" (toggleBookmark)="toggleBookmark()" (share)="shareEvent()"></portal-event-details-banner>
    <lib-loading-bar [reloading]="reloading()"></lib-loading-bar>
    @if (info()) {
        <div class="flex flex-col lg:flex-row gap-3 lg:justify-stretch lg:overflow-y-auto px-3 pt-3 pb-20 lg:pb-3">
            <div class="flex flex-col flex-auto min-w-0">
                <portal-event-details-info [info]="info()!"/>
                <portal-event-host-block [info]="info()!"/>
                @if (canEdit()) {
                    <portal-event-guest-list [info]="info()!"/>
                } @else if (registration()) {
                    <portal-event-participants-stack [info]="info()!" [userParticipant]="userParticipant()"/>
                }
            </div>
            <div class="flex flex-col gap-3 lg:w-80 lg:shrink-0 lg:sticky lg:top-3 lg:self-start">
                @if (registration()) {
                    <mat-card appearance="outlined">
                        <portal-registration-details (admin)="openAdmin()" (broadcast)="openBroadcast()"
                                                      (cancelEvent)="cancelEvent()" (cancelParticipation)="cancelSelf()"
                                                      (deleteEvent)="deleteEvent()" (duplicate)="copyEvent()" (edit)="editSelf()"
                                                      (participate)="participateSelf()" (promote)="shareEvent()"
                                                      (publish)="publishEvent()"
                                                      [info]="info()!" [reloading]="registrationReloading()"
                                                      [userParticipant]="userParticipant()"/>
                    </mat-card>
                }
                @if (location()) {
                    <mat-card appearance="outlined">
                        <portal-event-details-location [info]="info()!"/>
                    </mat-card>
                }
                @if (canEdit()) {
                    <mat-card appearance="outlined">
                        <portal-share-settings [info]="info()!" [reloading]="reloading()" (changed)="onSharingChanged($event)"/>
                    </mat-card>
                }
            </div>
        </div>
    }
</mat-card>
@if (info() && registration()) {
    <portal-event-bookbar (cancelParticipation)="cancelSelf()" (edit)="editSelf()" (participate)="participateSelf()" [info]="info()!"
                          [reloading]="registrationReloading()" [userParticipant]="userParticipant()"/>
}
